*{
    padding: 0px;
    margin: 0px;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;  
}
.nav1{
	width:100%;
	height: 130px;
	background-color: #ffffff;
}
.nav{
	width:1180px;
	height: 130px;
	margin:0 auto;
}
.top{
	width:1180px;
	height: 25px;
	margin:0 auto;
}
.help{
	margin-top:8px;
	color:#9a9791;
	font-size: 12px;
	float: left;
}
.top_QQ{
	margin-top:6px;
	margin-left: 365px;
	width:19px;
	height: 19px;
	background:url(img/common_min.png) 0 -31px;
	float: left;
}
.top_weixin{
	margin-top:6px;
	margin-left: 18px;
	width:19px;
	height: 19px;
	background:url(img/common_min.png) 0 -53px;
	float: left;
}
.top_weibo{
	margin-top:6px;
	margin-left: 18px;
	width:19px;
	height: 19px;
	background:url(img/common_min.png) 0 -75px;
	float: left;
}
.denglu{
	margin-top:8px;
	margin-left: 20px;
	color:#9a9791;
	font-size: 12px;
	float: left;
}
.zhuce{
	margin-top:8px;
	margin-left: 20px;
	color:#9a9791;
	font-size: 12px;
	float: left;
}
.xiaoxi{
	margin-top:11px;
	margin-left: 18px;
	width:15px;
	height: 10px;
	background:url(img/common_min.png) -4px -117px;
	float: left;
}
.xiaoxi1{
	margin-top: 8px;
	margin-left: 5px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.dingdan{
	margin-top:6px;
	margin-left: 18px;
	float: left;
}
.dingdan1{
	margin-left: 5px;
	margin-top: 8px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.shoucang{
	margin-left: 18px;
	margin-top: 8px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.duihuan{
	margin-left: 18px;
	margin-top: 8px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.shouji{
	margin-top:6px;
	margin-left: 18px;
	float: left;
}
.shouji1{
	margin-left: 5px;
	margin-top: 8px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.bang5{
	margin-left: 18px;
	margin-top: 8px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.fuwu{
	margin-left: 18px;
	margin-top: 8px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.gouwu{
	margin-top:6px;
	margin-left: 18px;
	float: left;
}
.gouwu1{
	margin-left: 5px;
	margin-top: 8px;
	float: left;
	color:#9a9791;
	font-size: 12px;
}
.ling{
	font-size: 12px;
	margin-top:8px;
	margin-left: 7px;
	color:#fe6c00;
	font-weight: bolder;
	float: left;
}
.mid{
	width: 1180px;
	height: 105px;
	margin:0 auto;
}
.big{
	margin-top: 16px;
	float: left;
}
.sou{
	margin-left: 105px;
	margin-top: 30px;
	float: left;
}
.sou1{
	border: 3px solid #fe6c00;
	width: 500px;
	height: 35px;
	color: #74736d;
	font-size: 13px;
	float: left;
}
.anniu{
	width: 82px;
	height: 41px;
	background-color: #fe6c00;
	float: left;
}
.anniu1{
	color: #ffffff;
	margin-top:13px;
	margin-left: 18px;
	font-size: 15px;
}
.liebiao li{
	margin-top: 10px;
    float: left;
    height: 16px;
    padding: 0 9px;
    line-height: 16px;
    background: url(img/shuxian.jpg) no-repeat right center;
}
.liebiao li a{
    color: #666560;
    display: block;
    font-size: 11px;
    height: 11px;
}
.liebiao li:last-child{
    background: none;
}
#hong{
	color: #ff0000;
}
#lan{
	color: #aca9d3;
}
.you{
	margin-left: 90px;
	margin-top:30px;
	float: left;
}
.kuang{
	width: 83px;
	height: 40px;
	border: 1px solid #e6e5e2;
	float: left;
	border-radius: 5px;
}
.tu1{
	margin-top:6px;
	margin-left: 33px;
	width:14px;
	height: 13px;
	background:url(img/common_min.png) -4px -98px;
}
.shu{
	margin-top: 5px;
	margin-left: 4px;
	color: #9a9791;
	font-size: 11px;
}
.tu2{
	margin-top:6px;
	margin-left: 33px;
	width:15px;
	height: 10px;
	background:url(img/common_min.png) -4px -117px;
}
.kuang1{
	width: 83px;
	height: 40px;
	background-color: #ff4d04;
	border: 1px solid #e6e5e2;
	float: left;
	border-radius: 5px;
}
.tu3{
	margin-top:15px;
	margin-left: 7px;
	width:13px;
	height: 13px;
	background:url(img/common_min.png) -6px -133px;
	float: left;
}
.zi{
	margin-top:12px;
	margin-left: 5px;
	float: left;
	font-size: 12px;
	color: #ffffff;
}
.bottom{
	width: 100%;
	height: 40px;
	background-color: #000000;
}
.bottom0{
	width: 1180px;
	height: 40px;
	margin:0 auto;
}
.bottom1{
	float: left;
}
.bottom1 li{
    float: left;
    height: 40px;
    padding: 0 38px;
    line-height: 40px;
}
.bottom1 li a{
	font-weight: bolder;
    color: #ffffff;
    display: block;
    font-size: 12px;
    height: 12px;
}
.bottom1 li:first-child{
    background-color: #fe0d4a;
}
.pic0{
	float: right;
}
.middle{
	width: 100%;
	height: 775px;
	background-color: #f6f5f4;
}
.middle0{
	width: 1180px;
	height: 775px;
	margin: 0 auto;
}
.middle_top{
	font-size: 11px;
	color: #000000;
	padding-top:14px;
}
.middle_middle0{
	width: 1180px;
	height: 630px;
}
.middle_middle{
	margin-top: 12px;
	width: 995px;
	float: left;
	height: 630px;
	background-color: #ffffff;
}
.mml_top{
	float: left;
}
#pi1{
	border: 1px solid #ff9003;
}
#pi2{
	border: 1px solid #ffffff;
}
#box{
	margin-top: 20px;
	margin-left: 20px; 
	width: 410px;
	height: 410px;
	position: relative;
}
#img1 {
    width: 410px;
    height: 410px;
    position: absolute;
    border: 1px solid #d0cdc7;
}

#img1 img {
    width: 410px;
    height: 410px;
}
#slider {
    width:205px;
    height: 205px;
    background: #7e7e76;
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    cursor: move;
    display: none;
}

#img2 {
    position: absolute;
    left: 410px;
    top: 0;
    display: none;
    width: 410px;
    height: 410px;
    overflow: hidden;
    border: 1px solid #d0cdc7;
}

#Bimg {
    width:820px;
    height:820px;
    position: absolute;
    left: 0;
    top: 0;
}
.mml_bot{
	margin-top: 25px;
	margin-left: 20px;
	width: 410px;
	height: 61px;
}
.pic2{
	float: left;
}
.pic3{
	float: right;
}
.mmm_top{
	width: 505px;
	height: 500px;
	float: left;
	margin-top: 23px;
	margin-left: 20px;
}
.hang0{
	font-size: 14px;
}
.hang1{
	font-size: 11px;
	color: #676660;
	margin-top:8px;
	line-height: 20px;
}
.hang2{
	width: 400px;
	height: 13px;
	margin-top: 30px;
	margin-left: 20px;
}
.hang2_left{
	font-size:10px;
	margin-top: 3px;
	float: left;
}
.hang2_middle{
	margin-left: 57px;
	font-size: 13px;
	color: #ff0000;
	float: left;
}
.hang2_right{
	text-decoration: line-through;
	margin-left: 23px;
	font-size:10px;
	margin-top: 3px;
	float: left;
}
.hang3{
	margin-top: 20px;
}
.hang4{
	margin-left: 25px;
	height: 32px;
}
.hang4_left{
	float: left;
	margin-top: 5px;
	font-size: 11px;
}
.hang4_middle{
	margin-left: 15px;
	float: left;
	width: 62px;
	height: 30px;
}
.hang4_right{
	float: left;
	width: 62px;
	height: 30px;
}
.shu4{
	float: left;
	margin-top: 9px;
	margin-left: 15px;
	font-size: 10px;
	cursor: pointer;
}
#pic4{
	margin-top: 18px;
	float: right;
	opacity: 1;
}
#pic5{
	margin-top: 18px;
	float: right;
	opacity: 0;
}
#kuang00{
	border: 1px solid #fe0d4a;
}
#kuang01{
	border: 1px solid #ffffff;
}
.hang5{
	margin-top: 20px;
	margin-left: 25px;
	height: 30px;
}
.hang5_middle{
	margin-left: 65px;
}
.fu{
	padding-top: 9px;
	padding-left: 8px;
	float: left;
	width: 15px;
	height: 21px;
	font-size: 10px;
	border:1px solid #cecbc5;
}
#jian{
	cursor: pointer;
}
#jia{
	
	cursor: pointer;
}
.shu0{
	padding-top: 8px;
	padding-left: 22px;
	float: left;
	width: 29px;
	height: 22px;
	font-size: 10px;
	border:1px solid #cecbc5;
}
.hang5_right{
	margin-left: 25px;
	font-size:10px;
	margin-top: 8px;
	float: left;
}
.hang7{
	margin-left: 109px;
	height: 14px;
}
.hang7_left{
	margin-top: 3px;
	font-size: 10px;
	float: left;
}
.hang7_right{
	margin-left: 20px;
	font-size: 14px;
	color: #ff9003;
	float: left;
}
.hang8{
	margin-left: 25px;
	margin-top: 15px;
}
.hang8_left{
	padding-top: 8px;
	padding-left: 43px;
	width: 110px;
	height: 26px;
	color: #ff0754;
	border: 1px solid #ff0754;
	float: left;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
}
.hang8_right{
	margin-left: 22px;
	padding-top: 8px;
	padding-left: 35px;
	width: 115px;
	height: 28px;
	color: #ffffff;
	background-color: #ff0754;
	float: left;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
}

.mmm_right{
	margin-top: 12px;
	margin-left: 5px;
	float: left;
}
.bottom_bottom{
	width:100%;
	height: 181px;
}
.bottom_bottom1{
	width:1180px;
	height: 181px;
	border-bottom:  1px solid #ebeae8;
	margin:0 auto;
}
.bottom_left1{
	height: 181px;
	width: 168px;
	float: left;
}
.bottom_left2{
	margin-top: 30px;
	margin-left: 71px;
	float: left;
}
.sed{
	font-size: 15px;
}
.sed1 li a{
	margin-top: 14px;
	font-size: 11px;
	color: #666560;
}
.sed2{
	margin-top: 30px;
	margin-left: 70px;
	float: left;
}
.bottom_bottom0{
	width:100%;
	height: 163px;
}
.bottom_bottom2{
	width:1180px;
	height: 163px;
	margin:0 auto;
}
.bo{
	width: 1180px;
	height: 30px;
}
.bot{
	margin-left: 267px;
}
.bot li{
	margin-top: 14px;
    float: left;
    height: 17px;
    padding: 0 15px;
    line-height: 17px;
    background: url(img/shuxian.jpg) no-repeat right center;
}
.bot li a{
    color: #666560;
    display: block;
    font-size: 11px;
    height: 11px;
}
.bot1{
	margin-top:10px;
	margin-left: 351px;
	font-size: 10px;
	color: #9a9791;
}
.bot2{
	margin-top:10px;
	margin-left: 60px;
	font-size: 10px;
	color: #9a9791;
}
.bot3{
	margin-top:10px;
	margin-left: 530px;
	font-size: 10px;
	color: #9a9791;
}
.bot4{
	margin-top:10px;
	margin-left: 205px;
}
.tu8{
	float: left;
}
.tu9{
	margin-top: 6px;
	float: left;
}
.bigkuang{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	background-color: #dbd9d5;
	opacity: 0.6;
}
.smallkuang{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0px;
	margin: auto;
	width: 400px;
	height: 220px;
	border: 2px solid #aca9d3;
	background-color: #ffffff;
}
#bigkuang{
	display: none;
}
#smallkuang{
	display: none;
}
.cha{
	font-size: 24px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
}
.con{
	float: left;
	margin-left: 30px;
	width: 150px;
	height:40px;
	border: 1px solid #ff0754;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color:#ff0754;
	border-radius: 5px;
	cursor: pointer;
}
.pay{
	float: left;
	margin-left: 30px;
	width: 150px;
	height:40px;
	border: 1px solid #ff0754;
	font-size: 16px;
	line-height: 40px;
	background-color: #ff0754;
	text-align: center;
	color:#ffffff;
	border-radius: 5px;
	cursor: pointer;
}
